<div class="feedback-main container-fluid">
  <div class="row">
    <div class="col-lg-3 col-md-3">
      {{#each breakfast in controller}}
        <div class="breakfast row" {{ action 'goToFeedbackModal' breakfast }}>
          <h4>{{ breakfast.name }}</h4>
          <p>{{ breakfast.description }}</p>
          <p>{{ format-date breakfast.servedAt 'LL' }}</p>
        </div>
      {{/each}}
    </div>
    <div class="col-lg-9 col-md-9">
      {{outlet}}
    </div>
  </div>
</div>
